.input__form {
  background: color(white-100);
  box-shadow: none;
  border: 0;
  border-bottom: map-get($border, light) solid color(black-200);
  padding: 20px 0;
  border-radius: $border_radius;
  background: transparent;
  color: color(black-100);
  transition: map-get($transition, cubic);
  outline: none;
  box-shadow: none;

  &::placeholder {
    color: color(black-200);
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: color(black-100);

    &::placeholder {
      color: color(black-100);
    }
  }

  &.error__theme {
    @include input-default-theme(color(red-100));
    @include input-focus-theme(color(red-100));
  }
}

.input__message {
  font-size: 14px;
  margin-top: 10px;
  display: none;

  &.input__message--show {
    display: block;
  }

  &.input__message--error {
    color: color(red-100);
  }
}

.form-group {
  position: relative;
  padding-top: 25px;

  label {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.label__off {
    padding-top: 0;
    position: inherit;

    label {
      position: inherit;
    }
  }
}
