.projects__list-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.project-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 55px 30px 0;
  width: 100%;
  border: 2px solid color(grey-200);
  border-radius: $border-radius;
  padding: 10px;
  max-width: 325px;

  @media (max-width: $screen-lg) {
    max-width: none;
    justify-content: space-between;
    margin-right: 60px;
    width: calc(50% - 30px);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    max-width: none;
    margin: 0 0 50px 0;
  }
}
.project__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.project__tools-wrap--active {
  .project__tools {
    opacity: 1;
    visibility: visible;
    height: 50px;
  }
}
.project__nav-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: color(grey-100);
  }
}
.project__nav-button--active {
  text-decoration: underline;
}
.project__tools {
  .project__nav-button {
    margin-right: 0;
  }
}
.project__field {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .project__nav-button {
    margin-right: 10px;
  }

  .form-group {
    margin: 0;
    padding: 0;
    height: auto;
  }
  input {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    height: auto;
    border-bottom-width: 1px;
  }
}
