.projects__list-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 700px;
  margin: 0 auto;
}
.project-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;
  border: 2px solid color(grey-200);
  border-radius: $border-radius;
  padding: 10px;
}
.project__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.project__tools-wrap--active {
  .project__tools {
    opacity: 1;
    visibility: visible;
    height: 50px;
  }
}
.project__nav-title {
  padding: 25px 0;
  h3 {
    margin: 0;
  }
}
.project__form {
  margin-bottom: 50px;
}
