@font-face {
  font-family: 'icomoon';
  src:
    url('/fonts/icomoon/icomoon.ttf?xk7a5m') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?xk7a5m') format('woff'),
    url('/fonts/icomoon/icomoon.svg?xk7a5m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e900";
}
.icon-suitcase:before {
  content: "\e901";
}
.icon-slack:before {
  content: "\e902";
}
.icon-person:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e905";
}
.icon-loudspeaker:before {
  content: "\e906";
}
.icon-envelope-o:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-building:before {
  content: "\e909";
}
.icon-arrow-collapse:before {
  content: "\e90a";
}
.icon-angle-right:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-marker:before {
  content: "\e90e";
}
.icon-warning:before {
  content: "\e90f";
}
.icon-thumbs-up:before {
  content: "\e910";
}
.icon-phone-ring:before {
  content: "\e911";
}
.icon-smile:before {
  content: "\e912";
}
.icon-dashboard:before {
  content: "\e913";
}
.icon-envelope-open:before {
  content: "\e914";
}
.icon-settings:before {
  content: "\e915";
}
.icon-navbar:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e917";
}
.icon-group:before {
  content: "\e918";
}
.icon-comments:before {
  content: "\e919";
}
.icon-angle-down:before {
  content: "\e91a";
}
.icon-spinner:before {
  content: "\e91b";
}
.icon-rocket:before {
  content: "\e91c";
}
.icon-beaker:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e91e";
}
